import("_unit") *{font-family:'Source Sans Pro',sans-serif}.charcoal{background-color:#242424}.orange{background-color:#FFB26C}.red{background-color:#CC5349}.blue{background-color:#4D8BFF}.green{background-color:#594}.purple{background-color:#7E3DCC}.year{border:1px solid #ddd;margin-top:5px}.year-number{text-align:center;background-color:#eee;font-weight:700}.term-name{text-align:center;font-weight:700}.named-rule{padding:3px;margin:2px;border:1px solid #eee}.rule-name{font-weight:700;line-height:30px}.named-rule.valid .rule-name{background-color:#efe}.named-rule.invalid .rule-name{background-color:#fee}.fright{float:right}



.up-from-bottom {
  height: 0px;
  position: relative;
  top: -100px;
  overflow: display;
}
.up-from-bottom img {
  height: 60px;
  margin: 12px;
}
.center {
  text-align: center;
}